.Book_library {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #03112f;
  padding: 21px;
  color: aqua;
}

.book-list {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.book-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  text-align: left;
}

.book-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #580cd1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
